!!! 5
html(lang="en")
  head
    title iStyle
    meta(name="viewport", content="width = device-width, initial-scale = 1.0, user-scalable = no, maximum-scale = 1.0")
    != mash("common", "css", debug)
  body
    .Page#ArtistList
      header
        h1 Random Artist 
        button.right Refresh
      section#wrapper(role='content')
        ul.List
    script#ArtistListTemplate(type='text/template')
      <% for (var i = 0; i < artists.length; i++) { %>
      <li><%= artists[i].get("name") %></li>
      <% } %>
    != mash("common", "js", debug)
